 <tr>
        <td><%= pin.description %></td>
        <td><%= link_to 'Show', pin, class: "btn btn-secondary" %></td>
        <% if current_user == pin.user %>
        <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        <% end %>
      </tr>